/pruebaNiconNotify/pruebaNotify/build/
/notificaciones/niconNotify_v2/nbproject/private/
/jplay_model/nbproject/private/
/Jplay_gui/nbproject/private/
/JPlay/nbproject/private/
/JPlay_gui/nbproject/private/
/Jplay_gui (Conflicto de mayúsculas y minúsculas)/nbproject/private/
/JPlay_prueba/nbproject/private/
/jplay_prueba (Conflicto de mayúsculas y minúsculas)/nbproject/private/
/Test/JPlay_prueba/nbproject/private/
/Test/notificaciones/niconNotify_v2/nbproject/private/
/Test/notificaciones/pruebaNotify/build/
/Test/notificaciones/pruebaNotify/nbproject/private/
/JPlay_gui (Conflicto de mayúsculas y minúsculas)/nbproject/private/
/JPlay_GUI/build/
/XJPlay/nbproject/private/
/XJPlay/build/
/JPlay/build/
/Test/JPlay_prueba/build/